.promo {
  position: relative;
  display: flex;
}

.promoOverlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.46) 0%,
      rgba(0, 0, 0, 0) 34.52%
    ),
    linear-gradient(0deg, rgba(43, 43, 43, 0.5), rgba(43, 43, 43, 0.5));
  z-index: 0;
}

.promoImg {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.promoContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  z-index: 1;
}
