

.searchPopperModal{
  margin-top: 66px;
}

.searchModalInput{
  font-size: 14px;
  line-height: 170%;
  width: 100%;
  box-sizing: border-box;
  border-color: #ffffff66;
  color: var(--text-primary-color);
  position: relative;
  background-color: var(--background-secondary-color);
}

.searchModalInputFixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  width: calc(100% - 40px );
  padding: 20px 20px 0;
}

.searchModalInputBox{
  color: var(--text-primary-color);
  border: 1px solid rgba(228, 223, 212, 1);
}

.searchModal{
  padding: 0 4px;
}
