.headerInner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerMain {
  padding: 25px 0;
  display: flex;
}

.headerSecond {
  display: flex;
  column-gap: 50px;
}

.headerLogo {
  margin-right: 60px;
}

@media (max-width: 767px) {
  .headerLogo {
    margin: 0;
  }
}
