.otherNewsDivider {
  margin-bottom: 42px;
}

.otherNewsTitle {
  margin: 0 0 56px;
  text-align: center;
}

@media (max-width: 1023px) {
  .otherNewsTitle {
    text-align: left;
  }

  .otherNewsTitle {
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .otherNewsTitle {
    font-size: 26px;
  }
}
