.reviewsSliderCard {
  border: none;
  max-width: 329px;
  height: 397px;
  padding: 30px;
  border-radius: 4px;
  background: var(--primary-white-color);
}

.reviewsSliderCardHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 13px;
}

.reviewsSliderCardPerson,
.reviewsSliderCardDate {
  margin: 0;
}

.reviewsSliderCardText {
  color: var(--text-tertiary-color);
  margin: 0;
  margin-top: 6px;
}

.reviewsSliderCardTitle {
  margin: 0;
  margin-top: 16px;
}

.reviewsSliderCardButton {
  gap: 0;
  padding: 0;
  border: 0;
  margin-top: 10px;
  background-color: transparent;
  color: var(--text-quaternary-color);
}

.reviewsSliderCardButton svg {
  width: 16px;
  height: 16px;
}

.reviewsSliderCardButton path[fill] {
  fill: var(--text-quaternary-color);
}

.reviewsSliderCardButton:hover {
  color: var(--primary-light-color);
  background: transparent;
  border: 0;
}

.reviewsSliderCardButton:hover path[fill] {
  fill: var(--primary-light-color);
}

.reviewsSliderCardHideText {
  display: -webkit-box;
  max-height: 216px;
  margin: 0;
  text-overflow: ellipsis;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.reviewsSliderCardHideTitle {
  display: -webkit-box;
  margin: 0;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media (max-width: 1023px) {
  .reviewsSliderCard {
    max-width: 260px;
    height: 316px;
    padding: 20px;
  }
  .reviewsSliderCardText {
    font-size: 12px;
    line-height: 170%;
  }
  .reviewsSliderCardTitle {
    margin-top: 12px;
  }
  .reviewsSliderCardHeader {
    margin-bottom: 12px;
  }
  .reviewsSliderCardButton {
    margin-top: 4px;
  }
}

@media (max-width: 479px) {
  .reviewsSliderCard {
    max-width: 230px;
    height: 336px;
  }
  .reviewsSliderCardHideText {
    -webkit-line-clamp: 8;
  }
}
